.select-category {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color:#f0f0f0;
}

.item-card {
    border: none;
    width: 425px;
    height: auto;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    align-self: center;
    background-color: #fff;
    border-radius: 10px;
}

.item-image {
    width: 90%;
    height: auto;
    padding-top: 1rem;
    min-width: 0;
    max-height: 40rem;
    align-self: center;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.item-card button {
    background-color: #f97316;
    color: white;
    border: none;
    width: 100%;
    min-height: 30px;
    cursor: pointer;
    align-self: center;
    border-radius: 10px;
}
