.header-top {
    height: 50px;
    
}

.rs-logo {
    width: 50px;
    height: auto;
    float: left;
}

.cart-icon {
    width: 50px;
    height: auto;
    float: right;
}

.header-container {
    text-align: center;
}